<svg {{ if isset . "id" }} id={{ .id }} {{ end }}
   width="63.999996"
   height="63.999996"
   viewBox="0 0 16.933332 16.933332"
   alt="External Link">
  <g>
    <path
       style="fill:none;;stroke:currentColor;stroke-width:1.5875;stroke-linecap:square;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke"
       d="M 8.4666667,8.4666667 13.758333,3.175"
       id="path2" />
    <path
       style="fill:none;;stroke:currentColor;stroke-width:1.5875;stroke-linecap:square;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke"
       d="m 10.31875,1.8520833 h 4.762501 V 6.614583"
       id="path3" />
    <path
       style="fill:none;stroke:currentColor;stroke-width:1.5875;paint-order:fill markers stroke"
       d="m 8.4666667,3.175 h -6.35 V 14.816667 H 13.758333 V 8.4666667"
       id="path1" />
  </g>
</svg>