<svg {{ if isset . "id" }} id={{ .id }} {{ end }}
  width="63.999996"
  height="63.999996"
  viewBox="0 0 16.933332 16.933332"
  alt="Maximize">
  <g>
    <rect
       style="fill:none;stroke:currentColor;stroke-width:1.05833;stroke-dasharray:none;stroke-opacity:1"
       width="12.7"
       height="12.7"
       x="2.1166666"
       y="2.1166666" />
    <rect
       style="fill:currentColor;fill-opacity:1;stroke:none;stroke-width:2.58651;stroke-dasharray:none;stroke-opacity:1"
       width="12.7"
       height="3.175"
       x="2.1166666"
       y="2.1166666" />
  </g>
</svg>