
:root{
  /*  color palette  */
  --color-light: #b6bfb7;
  --color-mid-light: #8a8a8a;
  --color-mid: #1b1b1a;
  --color-dark: #111211;
  --color-accent: #508801;

  --color-text-normal: var(--color-light);
  --color-text-link: var(--color-accent);

  /*  blockquote  */
  --blockquote-font-size: 0.875rem;
  --blockquote-margin: 1rem 3rem;

  /*  .siderbar  */
  --sidebar-color-bg: var(--color-dark);
  --sidebar-width: 16rem;
  --sidebar-header-height: 4rem;
  --sidebar-footer-height: 4rem;

  /*  .body  */
  --body-color-bg: var(--color-mid);

  /*  .table-of-content  */
  --toc-color-bg: var(--color-mid);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  font-weight: normal;
  font-size: 1rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-areas: "sidebar body";
  color: var(--color-text-normal);
}

h1{
  margin: 1rem 0.5rem 0.5rem;
  font-size: 2.5rem;
  width: fit-content;
}

h2{
  margin: 0.75rem 0.75rem 0.5rem;
  font-size: 1.75rem;
  width: fit-content;
}

h3,h4,h5,h6{
  margin: 0.5rem 0.75rem 0.5rem;
}

hr{
  border: none;
  background-color: var(--color-mid-light);
  margin: 0.5rem;
  height: 2px;
}

p{
  margin: 0.5rem 1.5rem;
}

a{
  color: var(--color-text-link);
  text-decoration: none;
  font-style: italic;
  font-weight: bolder;
}

/*  ------------------------------------------------  */
/*  table  */

table{
  margin: 0 1rem 1rem 1rem;
  border: 1px solid var(--color-accent);
  border-spacing: 0;
  border-radius: 0;
}

thead{
  width: 100%;
  background-color: var(--color-dark);
  color: var(--color-accent);
}

tbody{
  margin: 0;
  background-color: var(--color-mid);
  color: var(--color-text-normal);
}

tbody td{
  border-right: 1px solid var(--color-dark);
  border-left: 1px solid var(--color-dark);
  border-top: 1px solid var(--color-mid-light);
}

th, td{
  padding: 0.5rem;
}

/*  ------------------------------------------------  */
/*  blockquote  */

blockquote{
  position: relative;
  color: var(--color-blockquote-text);
  border:1px inset var(--color-light);
  padding: 0 1.5rem;
  margin: var(--blockquote-margin);
}

blockquote p, blockquote blockquote{
  margin: 0.75rem 0rem;
}

/*  ------------------------------------------------  */
/*  .highlight  */

.highlight{
  margin: 0 1rem 1rem 1rem;
  border: 1px solid var(--color-accent);
}

/*  ------------------------------------------------  */
/*  .sidebar  */

.sidebar{
  background-color: var(--sidebar-color-bg);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-header{
  height: var(--sidebar-header-height);
}

.sidebar-nav{
  flex: 1;
}

.sidebar-nav-list{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 0px;
  margin: 12px;
  font-size: 1.25rem;
  list-style: none;
  gap: 12px;
}

.sidebar-nav-item{
  width: 100%;
  flex-grow: 1;
  display: flex;
}

.sidebar-nav-item a{
  border-radius: 2px;
  transition: 0.15s;
  border: 2px outset;
  padding: 4px 12px;
  flex-grow: 1;
}

.sidebar-nav-item a:active{
  border-style: inset;
}

.sidebar-footer{
  height: var(--sidebar-footer-height);
}

/*  ------------------------------------------------  */
/*  .body  */ 

.body{
  background-color: var(--body-color-bg);
  height: 100vh;
  overflow-y: auto;
  padding: 1rem;
  border-left: 1px solid var(--color-accent);
}

/*  ------------------------------------------------  */
/*  #toc  */

#toc{
  background-color: var(--toc-color-bg);
  border-left: 1px solid var(--color-accent);
  position: fixed;
  padding: 0.5rem 0;
  top: 1rem;
  right: 2rem;
  display: grid;  
  gap: 0.125rem
}

.toc-level-1{
  margin-left: 0;
  font-size: 1.1rem;
}

.toc-level-2{
  margin-left: 1rem;
  font-size: 1.1rem;
}

.toc-level-3{
  margin-left: 2rem;
  font-size: 1rem;
}

.toc-level-4{
  margin-left: 3rem;
  font-size: 0.9rem;
}

.toc-level-5{
  margin-left: 4rem;
  font-size: 0.9rem;
}

.toc-level-6{
  margin-left: 5rem;
  font-size: 0.9rem;
}

/*  ------------------------------------------------  */