@font-face {
  font-family: "IBM_VGA_8x16";
  src: url("/woff/Web437_IBM_VGA_8x16.woff");
}

:root{
  /*  color palette  */
  --color-light: hsl(84, 8%, 75%);
  --color-mid-light: #8A8A8A;
  --color-mid: #323232;
  --color-mid-dark: #1b1b1a;
  --color-dark: #111211;
  --color-accent: #4e9617;

  --color-frame-light: #C0C2BE;
  --color-frame-mid-light: #B9B4A6;
  --color-frame-mid: #8C8064;
  --color-frame-mid-dark: #413C27;
  --color-frame-dark: #2D2E14;

  --color-window-title-dark: #000080;
  --color-window-title-light: #1084d0;
  --color-window-body: var(--color-mid-dark);
  --color-window-button: var(--color-mid-dark);
  --color-window-frame: var(--color-light);

  --color-text-normal: var(--color-light);
  --color-text-link: var(--color-accent);

  /*  transition  */
  --transition-quick: 0.25s;

  /*  blockquote  */
  --blockquote-font-size: 0.875rem;
  --blockquote-margin: 1rem 3rem;

  /*  .siderbar  */
  --sidebar-color-bg: var(--color-dark);
  --sidebar-width: 16rem;
  --sidebar-header-height: 4rem;
  --sidebar-footer-height: 4rem;

  /*  .body  */
  --body-color-bg: var(--color-dark);

  /*  #toc  */

  /*  scrollbar  */
  --scrollbar-width: 12px;

  /*  .monitor  */
  --monitor-padding: 4px;
  --monitor-outer-top-size: 28px;
  --monitor-outer-side-size: 24px;
  --monitor-outer-bottom-size: 64px;
  --monitor-inner-width: 48px;
  --monitor-inner-height: 22px;
  --monitor-frame-width: calc(var(--monitor-outer-side-size) + var(--monitor-inner-width));
  --monitor-frame-top-height: calc(var(--monitor-outer-top-size) + var(--monitor-inner-height));
  --monitor-frame-bottom-height: calc(var(--monitor-outer-bottom-size) + var(--monitor-inner-height));
  --monitor-frame-inner-radius: 4px;
  --monitor-frame-outer-radius: 16px;
  --monitor-frame-left: var(--monitor-frame-width);
  --monitor-frame-right: calc(100% - var(--monitor-frame-width));
  --monitor-frame-top: var(--monitor-frame-top-height);
  --monitor-frame-bottom: calc(100% - var(--monitor-frame-bottom-height));

  /* inline threejs window */
  --inline-threejs-window-width: 600px;
  --inline-threejs-window-height: 450px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  font-weight: normal;
  font-size: 1rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-areas: "sidebar body";
  color: var(--color-text-normal);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
  color: var(--color-text-normal);
  text-decoration: none;
  font-style: normal;
  transition-duration: var(--transition-quick);
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{
  color: var(--color-text-link);
}

h1{
  margin: 1rem 0.5rem 0.5rem;
  font-size: 2.5rem;
  width: fit-content;
}

h2{
  margin: 0.75rem 0.75rem 0.5rem;
  font-size: 1.75rem;
  width: fit-content;
}

h3,h4,h5,h6{
  margin: 0.5rem 0.75rem 0.5rem;
}

hr{
  border: none;
  background-color: var(--color-mid-light);
  margin: 0.5rem;
  height: 2px;
}

a{
  color: var(--color-text-link);
  text-decoration: none;
  font-style: italic;
  font-weight: bolder;
}

p{
  margin: 0.5rem 1.5rem;
}

/*  ------------------------------------------------  */
/*  .link  */

.link svg{
  translate: 2px 2px;
  width: 1rem;
  height: 1rem;
}

/*  ------------------------------------------------  */
/*  table  */

table{
  margin: 0 1rem 1rem 1rem;
  border: 1px solid var(--color-accent);
  border-spacing: 0;
  border-radius: 0;
}

thead{
  width: 100%;
  background-color: var(--color-dark);
  color: var(--color-accent);
}

tbody{
  margin: 0;
  background-color: var(--color-mid);
  color: var(--color-text-normal);
}

tbody td{
  border-right: 1px solid var(--color-dark);
  border-left: 1px solid var(--color-dark);
  border-top: 1px solid var(--color-mid-light);
}

th, td{
  padding: 0.5rem;
}

/*  ------------------------------------------------  */
/*  blockquote  */

blockquote{
  position: relative;
  color: var(--color-blockquote-text);
  border:1px inset var(--color-light);
  padding: 0 1.5rem;
  margin: var(--blockquote-margin);
}

blockquote p, blockquote blockquote{
  margin: 0.75rem 0rem;
}

/*  ------------------------------------------------  */
/*  .code-window  */

.code-window{
  margin: 0 4rem 1rem 4rem;
}

.code-window-body{
  position: relative;
  overflow: hidden;
}

/*  ------------------------------------------------  */
/*  scrollbar  */

::-webkit-scrollbar{
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track{
  background: var(--color-mid);
}

::-webkit-scrollbar-thumb{
  background: var(--color-mid-light);
  border-radius: 4px;
  border: 2px solid var(--color-mid);
  margin: 1rem;
}

::-webkit-scrollbar-thumb:hover{
  background: var(--color-light);
  border-width: 1px;
}

/*  ------------------------------------------------  */
/*  .sidebar  */

.sidebar{
  background-color: var(--sidebar-color-bg);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-header{
  height: var(--sidebar-header-height);
}

.sidebar-nav{
  flex: 1;
}

.sidebar-nav-list{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 0px;
  margin: 12px;
  font-size: 1.25rem;
  list-style: none;
  gap: 12px;
}

.sidebar-nav-item{
  width: 100%;
  flex-grow: 1;
  display: flex;
}

.sidebar-nav-item a{
  border-radius: 2px;
  transition: 0.15s;
  border: 2px outset var(--color-accent);
  padding: 4px 12px;
  flex-grow: 1;
}

.sidebar-nav-item a:active{
  border-style: inset;
}

.sidebar-footer{
  height: var(--sidebar-footer-height);
}

/*  ------------------------------------------------  */
/*  .body  */ 

.body{
  background-color: var(--body-color-bg);
  height: 100vh;
  padding:
    calc(var(--monitor-frame-top-height) + var(--monitor-padding))
    calc(var(--monitor-frame-width) + var(--monitor-padding))
    calc(var(--monitor-frame-bottom-height) + var(--monitor-padding))
    calc(var(--monitor-frame-width) + var(--monitor-padding));
  overflow-x: auto;
}

.body-content{
  padding: 1rem;
  height: 100%;
  overflow-y: auto;
}

/*  ------------------------------------------------  */
/*  #toc  */

#toc{
  position: fixed;
  top: calc(var(--monitor-frame-top-height) + 24px);
  right: calc(var(--monitor-frame-width) + 24px);
  display: grid;
}

#toc-toggle{
  display: none;
}

#toc a{
  font-style: normal;
  font-weight: normal;
}

.toc-content{
  padding: 0.5rem 0.5rem;
  display: grid;
  gap: 0.125rem;
  max-height: 600px;
  transition: var(--transition-quick);
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.toc-link-hover{
  display: none;
  color: var(--color-accent);
}

.toc-link-hover:has(+ .toc-link:hover){
  display: inline;
  position: fixed;
  transform: translate(-0.25rem);
}

.toc-level-1{
  margin-left: 0rem;
}

.toc-level-2{
  margin-left: 0.5rem;
}

.toc-level-3{
  margin-left: 1rem;
}

.toc-level-4{
  margin-left: 1.5rem;
}

.toc-level-5{
  margin-left: 2rem;
}

.toc-level-6{
  margin-left: 2.5rem;
}

.toc-content > div{
  padding: 0;
  margin: 0;
  opacity: 100%;
  transition: var(--transition-quick);
}

#toc-toggle:checked ~ .toc-content{
  max-height: 0;
  overflow-y: hidden;
}

#toc-toggle:checked ~ .toc-content > div{
  opacity: 0%;
}

#toc-icon-maximize, #toc-icon-minimize{
  height: 100%;
  width: 100%;
  user-select: none;
}

#toc-icon-minimize{
  visibility: visible;
  display: flex;
}

#toc-icon-maximize{
  visibility: hidden;
  display: none;
}

#toc-toggle:checked ~ .toc-title-container #toc-icon-minimize{
  visibility: hidden;
  display: none;
}

#toc-toggle:checked ~ .toc-title-container #toc-icon-maximize{
  visibility: visible;
  display: flex;
}

/*  ------------------------------------------------  */
/*  .window  */

.window{
  position: relative;
  border: 3px outset var(--color-window-frame);
  font-family: "IBM_VGA_8x16";
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
}

.window-title-bar-container{
  height: calc(1rem + 6px);
  position: relative;
}

.window-title-bar{
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 3px;
  width: 100%;
  height: 100%;
  transform: translate(0, calc(-100%));
}

.window-title-bar-background{
  background: linear-gradient(30deg, black, white);
}

.window-title-bar-icon{
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}

.window-title-bar-title{
  font-weight: bold;
  color: var(--color-text-normal);
  font-size: 1rem;
  letter-spacing: 0;
  margin-right: 24px;
  height: 1rem;
  user-select: none;
  flex: 1;
  -webkit-text-stroke: 2px var(--color-dark);
  paint-order: stroke fill;
}

.window-title-bar-buttons{
  display: flex;
}

.window-title-bar-button{
  padding: 0;
  display: block;
  width: calc(1rem + 2px);
  height: calc(1rem + 2px);
  border: 3px outset var(--color-window-frame);
  background-color: var(--color-window-frame);
  justify-content: center;
  align-content: center;
}

.window-title-bar-button > svg{
  margin: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  color: var(--color-window-button);
}

.window-title-bar-button:active{
  border-style: inset;
}

.window-toolbar{
  height: calc(1rem + 6px);
  background-color: var(--color-window-frame);
}

.window-toolbar-button{
  display: block;
  background-color: var(--color-window-frame);
  border: 3px solid var(--color-window-frame);
  justify-content: center;
  align-content: center;
}

.window-toolbar-button:hover{
  border-style: outset;
}

.window-toolbar-button:active{
  border-style: inset;
}

.window-body{
  border: 3px inset var(--color-window-frame);
  background-color: var(--color-window-body);
}

.window-content{
  width: 100%;
  height: 100%;
}

/*  ------------------------------------------------  */
/*  .monitor  */

#monitor{
  position: fixed;
  pointer-events: none;
  top: var(--monitor-padding);
  left: calc(var(--sidebar-width) + var(--monitor-padding));
  width: calc(100% - var(--sidebar-width) - 2*var(--monitor-padding));
  height: calc(100% - 2*var(--monitor-padding));
  border-radius: var(--monitor-frame-outer-radius);
  overflow: hidden;
  display: flex;

  clip-path:
    shape(from 0 0,       /* top left */

    /* outer cw */
    line to 100% 0,     /* top right */
    line to 100% 100%,  /* bot right */
    line to 0 100%,     /* bot left */
    line to 0 0,        /* top left */

    /* outer ccw */
    line to var(--monitor-frame-right) calc(var(--monitor-frame-top) + var(--monitor-frame-inner-radius)), /* top right */
    curve to calc(var(--monitor-frame-right) - var(--monitor-frame-inner-radius)) var(--monitor-frame-top) with var(--monitor-frame-right) var(--monitor-frame-top),
    line to calc(var(--monitor-frame-left) + var(--monitor-frame-inner-radius)) var(--monitor-frame-top), /* top left */
    curve to var(--monitor-frame-left) calc(var(--monitor-frame-top) + var(--monitor-frame-inner-radius)) with var(--monitor-frame-left) var(--monitor-frame-top),
    line to var(--monitor-frame-left) calc(var(--monitor-frame-bottom) - var(--monitor-frame-inner-radius)), /* bot left */
    curve to calc(var(--monitor-frame-left) + var(--monitor-frame-inner-radius)) var(--monitor-frame-bottom) with var(--monitor-frame-left) var(--monitor-frame-bottom),
    line to calc(var(--monitor-frame-right) - var(--monitor-frame-inner-radius)) var(--monitor-frame-bottom), /* bot right */
    curve to var(--monitor-frame-right) calc(var(--monitor-frame-bottom) - var(--monitor-frame-inner-radius)) with var(--monitor-frame-right) var(--monitor-frame-bottom),
    line to var(--monitor-frame-right) calc(var(--monitor-frame-top) + var(--monitor-frame-inner-radius))); /* top right */
}

#monitor-outer-border{
  position: absolute;
  border-image: url("../images/monitor/monitor_outer_9slice.png") 16 16 16 16 fill / 16px 16px 16px 16px;
  background:linear-gradient(to bottom, #515151, #4C4C4C);
  width: 100%;
  height: 100%;
}

#monitor-inner-border{
  position: absolute;
  border-image: url("../images/monitor/monitor_inner_9slice.png") 26 52 26 52 fill / 26px 52px 26px 52px;
  margin: var(--monitor-outer-top-size) var(--monitor-outer-side-size) var(--monitor-outer-bottom-size) var(--monitor-outer-side-size);
  width: calc(100% - 48px);
  height: calc(100% - 92px);
}

#monitor-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(to bottom, white, rgba(250,250,250, 0.0) var(--monitor-frame-top-height) calc(100% - var(--monitor-frame-bottom-height)), rgba(0,0,0, 0.5)),
    radial-gradient(circle at 0 0, rgba(250,250,250,0.75) 50%, rgba(200,200,200,0.5)),
    radial-gradient(circle at center, rgba(250,250,250,0.75) 50%, rgba(200,200,200,0.5)),
    radial-gradient(ellipse at top, rgba(250,250,250,0.75), rgba(150,150,150,0.75)),
    linear-gradient(to bottom, rgb(250,250,250) 50%, rgb(0,0,0));
  mix-blend-mode: overlay;
}

/*  ------------------------------------------------  */
/*  threejs  */

.inline-threejs-window{
  margin: 8px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.threejs-content{
  width: var(--inline-threejs-window-width);
  height: var(--inline-threejs-window-height);
}

#threejs-fullscreen-container{
  position: fixed;
  top: 0;
  left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
  height: 100%;
}

/*  ------------------------------------------------  */
/*  svgfilter  */

.svgfilter-layer{
  width: 100%;
  height: 100%;
}

/*  ------------------------------------------------  */
/*  noise  */

.overlay-noise{
  position: relative;
}

.overlay-noise::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  image-rendering: pixelated;
  mix-blend-mode: overlay;
}

.overlay-noise-blue-l::after{
  background-image: url("../images/noise/noise_blue_L64.png");
}

.overlay-noise-blue-rgb::after{
  background-image: url("../images/noise/noise_blue_RGB64.png");
}

.overlay-noise-white-l::after{
  background-image: url("../images/noise/noise_white_L64.png");
}

.overlay-noise-white-rgb::after{
  background-image: url("../images/noise/noise_white_RGB64.png");
}
.overlay-noise-opacity5::after{ opacity: 5%; }
.overlay-noise-opacity10::after{ opacity: 10%; }
.overlay-noise-opacity25::after{ opacity: 25%; }
.overlay-noise-opacity50::after{ opacity: 50%; }
.overlay-noise-size64::after{ background-size: 64px; }
.overlay-noise-size128::after{ background-size: 128px; }
.overlay-noise-size256::after{ background-size: 256px; }

/*  ------------------------------------------------  */
/*  @media  */

@media(max-width: 800px){
  .hide-on-mobile{
    display: none;
  }
  body{
    grid-template-columns: 1fr;
    grid-template-areas: "body";
  }
  .body-frame{
    left: 0;
  }
  #threejs-fullscreen-container{
    left: 0;
    width: 100%;
  }

  #monitor{
    left: var(--monitor-frame-padding);
    width: calc(100% - 2*var(--monitor-frame-padding));
  }
}

@media(min-width: 800px) {
  .hide-on-desktop{
    display: none;
  }
}

/*  ------------------------------------------------  */