<!DOCTYPE html>

<html>
  <head>
    {{ partial "meta.html" . }}
    {{ if .Params.threejs }}
      {{ partialCached "threejs-import.html" . }}
    {{ end }}
    {{ if .Params.math }}
      {{ partialCached "math-import.html" . }}
    {{ end }}
  </head>
  <body>
    {{ partial "sidebar.html" . }}
    <div class="body">
      <div class="body-content">
        {{ block "main" . }}
        {{ end }}
      </div>
      {{ if .Params.threejs }}
        {{ partial "threejs-fullscreen.html" . }}
      {{ end }}
      {{ partial "monitor-frame.html" . }}
    </div>
  </body>
</html>