<svg width="0" height="0" aria-hidden="true">
  <filter id="posterize-3step" color-interpolation-filters="sRGB">
    <feComponentTransfer>
      <feFuncR type="discrete" tableValues="0 0.5 1"></feFuncR>
      <feFuncG type="discrete" tableValues="0 0.5 1"></feFuncG>
      <feFuncB type="discrete" tableValues="0 0.5 1"></feFuncB>
    </feComponentTransfer>
  </filter>
  <filter id="posterize-4step" color-interpolation-filters="sRGB">
    <feComponentTransfer>
      <feFuncR type="discrete" tableValues="0 0.33333333 0.66666667 1"></feFuncR>
      <feFuncG type="discrete" tableValues="0 0.33333333 0.66666667 1"></feFuncG>
      <feFuncB type="discrete" tableValues="0 0.33333333 0.66666667 1"></feFuncB>
    </feComponentTransfer>
  </filter>
  <filter id="posterize-5step" color-interpolation-filters="sRGB">
    <feComponentTransfer>
      <feFuncR type="discrete" tableValues="0 0.25 0.5 0.75 1"></feFuncR>
      <feFuncG type="discrete" tableValues="0 0.25 0.5 0.75 1"></feFuncG>
      <feFuncB type="discrete" tableValues="0 0.25 0.5 0.75 1"></feFuncB>
    </feComponentTransfer>
  </filter>
</svg>