<div class="monitor-frame">
  <div class="monitor-frame-outer">
    <div class="monitor-frame-outer-topleft"></div>
    <div class="monitor-frame-outer-top"></div>
    <div class="monitor-frame-outer-topright"></div>

    <div class="monitor-frame-outer-left"></div>
    <div class="monitor-frame-outer-center"></div>
    <div class="monitor-frame-outer-right"></div>

    <div class="monitor-frame-outer-bottomleft"></div>
    <div class="monitor-frame-outer-bottom"></div>
    <div class="monitor-frame-outer-bottomright"></div>
  </div>
  <div class="monitor-frame-inner">
    <div class="monitor-frame-inner-topleft"></div>
    <div class="monitor-frame-inner-top"></div>
    <div class="monitor-frame-inner-topright"></div>

    <div class="monitor-frame-inner-left"></div>
    <div class="monitor-frame-inner-center"></div>
    <div class="monitor-frame-inner-right"></div>

    <div class="monitor-frame-inner-bottomleft"></div>
    <div class="monitor-frame-inner-bottom"></div>
    <div class="monitor-frame-inner-bottomright"></div>
  </div>
  <div class="test"></div>
</div>