{{ if (.Params.toc) }}
<div id="toc" class="window">
  <input type="checkbox" id="toc-toggle" checked/>
  <div class="toc-title window-title-bar">
    <div class="window-title-bar-title">
      Content
    </div>
    <div class="window-title-bar-buttons">
      <label for="toc-toggle" class="window-title-bar-button">
        {{ partial "icons/maximize.html" (dict "id" "toc-icon-maximize") }}
        {{ partial "icons/minimize.html" (dict "id" "toc-icon-minimize") }}
      </label>
    </div>
  </div>
  <div class="toc-content window-body">
    {{ with .Fragments }}
      {{ partial "table-of-content-level.html" . }}
    {{ end }}
  </div>
</div>
{{ end }}